---
name: test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.3.0

      - uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: Install metaflac
        run: sudo apt-get update && sudo apt-get install -y flac

      - name: build binary
        run: make build

      - name: run all tests
        run: make tests
